.app {
}

/* Header  */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 110px;
  margin: 0 auto;
  color: var(--black-color);
}

.header-gender {
  color: var(--black-color);
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
}
.gender {
  position: relative;
  padding: 5rem 2rem;
}

.gender.active::after {
  content: "";
  position: absolute;
  background-color: var(--black-color);
  width: 50%;
  height: 0.2rem;
  bottom: 4.8rem;
  left: 2rem;
}

.header-search {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.header-search input {
  border: 1px solid #9a9a9a;
  padding: 1rem 1.6rem;
  outline: none;
  color: var(--black-color);
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}

.btn-main {
  background-color: var(--black-color);
  font-size: 1.4rem;
  line-height: 1.75rem;
  color: var(--white-color);
  padding: 1.1rem 1.6rem;
  outline: none;
  border: none;
  cursor: pointer;
  min-width: 12rem;
}

.btn-main:active,
.btn-main:focus {
  outline: none;
}

.btn-main i {
  margin-right: 0.9rem;
}

.btn-search {
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  min-width: 10rem;
}

.header-right {
  display: flex;
  align-items: center;
}

.sign {
  font-size: 1.6rem;
  margin-right: 3.2rem;
}

.sign i {
  margin-right: 1rem;
}

.favourite {
  font-size: 1.6rem;
  margin-right: 3.1rem;
}

.favourite i {
  margin-right: 1rem;
}

.cart {
  font-size: 1.6rem;
}
.cart i {
  margin-right: 1rem;
}

/* End header  */
/* -----------------------  */
/* Categories  */
.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(196, 196, 196, 0.5);
  width: 1200px;
  margin: 0 auto;
}

.nav-item {
  padding: 0.7rem 2.4rem;
}

.nav-link {
  font-size: 1.4rem;
  line-height: 1.7rem;
  position: relative;
}

.nav-link::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: rgba(196, 196, 196, 0.5);
  top: 0;
  right: -3rem;
}

/* Section banner  */

.banner {
  background-color: #c4c4c4;
  height: 60rem;
  z-index: 1;
}
.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.banner-text .text-small {
  font-size: 1.4rem;
  margin: 10.3rem 0 1.6rem;
}

.banner-text .text-large {
  font-size: 5.8rem;
  font-weight: 600;
}

.banner-text .text-large:nth-child(3) {
  margin-left: 9rem;
  margin-bottom: 8.8rem;
}

.discover .btn-main {
  margin-right: 8rem;
}

.discover i {
  margin-right: 1.5rem;
  font-size: 2.5rem;
}

.discover span {
  font-weight: 600;
  font-size: 1.4rem;
}

.banner-img {
  display: flex;
  margin-left: 3.9rem;
  z-index: 3;
}

.overlay {
  position: relative;
}

