/* .app {
} */
.container {
  display: flex;
}

/* Header  */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 110px;
  margin: 0 auto;
  color: var(--black-color);
}

.header-gender {
  color: var(--black-color);
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
}
.gender {
  position: relative;
  padding: 5rem 2rem;
}

.gender.active::after {
  content: "";
  position: absolute;
  background-color: var(--black-color);
  width: 50%;
  height: 0.2rem;
  bottom: 4.8rem;
  left: 2rem;
}

.header-search {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.header-search input {
  border: 1px solid #9a9a9a;
  padding: 1rem 1.6rem;
  outline: none;
  color: var(--black-color);
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}



.btn-main i {
  margin-right: 0.9rem;
}

.btn-search {
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  min-width: 10rem;
}

.header-right {
  display: flex;
  align-items: center;
}

.sign {
  font-size: 1.6rem;
  margin-right: 3.2rem;
}

.sign i {
  margin-right: 1rem;
}

.favourite {
  font-size: 1.6rem;
  margin-right: 3.1rem;
}

.favourite i {
  margin-right: 1rem;
}

.cart {
  font-size: 1.6rem;
}
.cart i {
  margin-right: 1rem;
}

/* End header  */
/* -----------------------  */
/* Categories  */
.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(196, 196, 196, 0.5);
}

.nav-list {
  margin-bottom: 0;
}

.nav-item {
  position: relative;
}

.nav-item:not(:last-child)::after {
  position: absolute;
  content: "";
  height: 1.6rem;
  width: 0.1rem;
  background-color: rgba(196, 196, 196, 0.5);
  top: 1.8rem;
  left: 81%;
}

.nav-link {
  font-size: 1.4rem;
  margin: 0.9rem 0;
  margin-right: 5.6rem;
}

/* Section banner  */

.banner {
  background-color: #c4c4c4;
  height: 60rem;
  z-index: 1;
  position: relative;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  z-index: 3;
}

.banner-text .text-small {
  font-size: 1.4rem;
  position: relative;
}

.banner-text .text-small::after {
  position: absolute;
  content: "";
  background-color: var(--black-color);
  width: 4rem;
  height: 0.1rem;
  bottom: 0.4rem;
  left: 8.4rem;
}

.banner-text .text-large {
  font-size: 5.8rem;
  font-weight: 600;
}

.banner-text .text-large:nth-child(3) {
  margin: 0 3.9rem 8.8rem 9.2rem;
}

.discover .btn-main {
  margin-right: 8rem;
}

.discover i {
  margin-right: 1.5rem;
  font-size: 2.5rem;
}

.text-discover {
  font-weight: 600;
  font-size: 1.4rem;
}

.overlay {
  position: absolute;
  background-color: #d4f5ff;
  width: 71rem;
  height: 46rem;
  top: 7.2rem;
  right: 16rem;
  z-index: 1;
}

.banner-img {
  display: flex;
  /* margin-left: 9.2rem; */
  z-index: 3;
}

/*------- Logo brand------ */

.logo-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-brand-img img:not(:last-child) {
  margin-right: 7rem;
}

.logo-brand-img img {
  margin: 4.3rem 0;
}

.explore-brand .text-discover {
  text-align: right;
  margin-left: 12.8rem;
  position: relative;
}

.explore-brand .text-discover::after {
  position: absolute;
  content: "";
  background-color: var(--black-color);
  height: 1px;
  width: 4rem;
  bottom: 0.2rem;
  left: -4.8rem;
}

/* Fashion trending  */

.fashion-trending {
  background-color: #fbfbfb;
  background-color: rgba(196, 196, 196, 0.3);
  margin-top: 14.7em;
  height: 100vh;
}

.fashion-trending .container {
  display: flex;
  flex-direction: column;
}

.heading-text {
  margin-top: 12rem;
}

.content-trending {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  position: relative;
}

.content-img {
  display: flex;
  position: relative;
}

.box {
  position: absolute;
}

.box.hoody {
  position: relative;
  top: 0;
  left: 0;
  background-color: #e5cded;
  z-index: 1;
}

.box.shoes {
  position: absolute;
  bottom: 0;
  left: 200%;
  z-index: 3;
}
.box.hat {
  position: absolute;
  top: 0;
  left: 240%;
  z-index: 2;
}



.content-text {
  z-index: 4;
  width: 77.8rem;
  height: 44.8rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4.2rem;
  left: 27%;
}

.text-p {
  font-size: 1.4rem;
  font-weight: 300;
  max-width: 28rem;
  margin-left: 18rem;
}
.text-xlarge.special {
  margin-left: 18rem;
  margin-top: -2rem;
  color: white;
  text-shadow: 0px 0px 2px black;
}
/* End fashion trending  */


