/* .app {
} */
.grid.wide {
  display: flex;
}

/* Header  */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 110px;
  margin: 0 auto;
  color: var(--black-color);
}

.header-gender {
  color: var(--black-color);
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
}
.gender {
  position: relative;
  padding: 5rem 2rem;
}

.gender.active::after {
  content: "";
  position: absolute;
  background-color: var(--black-color);
  width: 50%;
  height: 0.2rem;
  bottom: 4.8rem;
  left: 2rem;
}

.header-search {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.header-search input {
  border: 1px solid #9a9a9a;
  padding: 1rem 1.6rem;
  outline: none;
  color: var(--black-color);
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}

.btn-main i {
  margin-right: 0.9rem;
}

.header-right {
  display: flex;
  align-items: center;
}

.sign {
  font-size: 1.6rem;
  margin-right: 3.2rem;
}

.sign i {
  margin-right: 1rem;
}

.favourite {
  font-size: 1.6rem;
  margin-right: 3.1rem;
}

.favourite i {
  margin-right: 1rem;
}

.cart {
  font-size: 1.6rem;
}
.cart i {
  margin-right: 1rem;
}

/* End header  */
/* -----------------------  */
/* Categories  */
.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(196, 196, 196, 0.5);
}

.nav-list {
  margin: 1.6rem 0;
}

.nav-item {
  position: relative;
}

.nav-item:not(:last-child)::after {
  position: absolute;
  content: "";
  height: 1.6rem;
  width: 0.1rem;
  background-color: rgba(196, 196, 196, 0.5);
  top: 0;
  left: 81%;
}

.nav-link {
  font-size: 1.4rem;
  margin: 0.9rem 0;
  margin-right: 5.6rem;
}

/* Section banner  */

.banner {
  background-color: #cdddf0;
  height: 60rem;
  z-index: 1;
  position: relative;
}

.text-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  z-index: 3;
  position: relative;
}

.text-banner .text-small {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  position: relative;
}

.text-banner .text-small::after {
  position: absolute;
  content: "";
  background-color: var(--black-color);
  width: 4rem;
  height: 0.1rem;
  bottom: 0.2rem;
  left: 8.4rem;
}

.text-banner .text-large {
  font-size: 5.8rem;
  font-weight: 600;
  line-height: 7.25rem;
}

.text-banner .text-large:nth-child(3) {
  margin: 0 3.9rem 8.8rem 9.2rem;
}

.discover .btn-main {
  margin-right: 8rem;
}

.discover i {
  margin-right: 1.5rem;
  font-size: 2.5rem;
}

.text-discover {
  font-weight: 600;
  font-size: 1.4rem;
}

.carousel {
  position: relative;
  bottom: -9rem;
  left: 0;
}

.carousel-itemm {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 0.2rem;
  background-color: #b3c4d7;
  cursor: pointer;
}

.carousel-itemm:nth-child(2) {
  left: 4.8rem;
}
.carousel-itemm:last-child {
  left: 9.6rem;
}

.carousel-itemm.active {
  background-color: var(--white-color);
}

.overlay {
  position: absolute;
  background-color: #d4f5ff;
  width: 71rem;
  height: 46rem;
  top: 7.2rem;
  right: 16rem;
  z-index: 1;
}

.banner-img {
  display: flex;
  /* margin-left: 9.2rem; */
  z-index: 3;
}

/*------- Logo brand------ */

.logo-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo-brand-img img:not(:last-child) {
  margin-right: 7rem;
}

.logo-brand-img img {
  margin: 4.3rem 0;
}

.explore-brand .text-discover {
  text-align: right;
  margin-left: 12.8rem;
  position: relative;
}

.explore-brand .text-discover::after {
  position: absolute;
  content: "";
  background-color: var(--black-color);
  height: 1px;
  width: 4rem;
  bottom: 0.2rem;
  left: -4.8rem;
}

/* Fashion trending  */

.fashion-trending {
  background-color: #fbfbfb;
  margin-top: 14.7em;
  padding-bottom: 2rem;
  height: 100%;
}

.fashion-trending .grid.wide {
  display: flex;
  flex-direction: column;
}

.heading-text {
  margin-top: 12rem;
}

.content-trending {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  position: relative;
}

.content-img {
  display: flex;
  position: relative;
}

.box {
  position: absolute;
}

.box.hoody {
  position: relative;
  top: 0;
  left: 0;
  background-color: #e5cded;
  z-index: 1;
}

.box.shoes {
  position: absolute;
  bottom: 0;
  left: 200%;
  z-index: 3;
}
.box.hat {
  position: absolute;
  top: 0;
  left: 240%;
  z-index: 2;
}

.content-text {
  z-index: 4;
  width: 77.8rem;
  height: 44.8rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  left: 27%;
}

.text-p {
  font-size: 1.4rem;
  max-width: 28rem;
  margin-left: 18rem;
}
.text-xlarge.special {
  margin-left: 18rem;
  margin-top: -2rem;
  color: white;
  text-shadow: 0px 0px 2px black;
}

.carousel2 {
  position: absolute;
  width: 40px;
  height: 2rem;
  top: 0;
  right: 42%;
  z-index: 1;
}

.carousel2 .carousel-itemm.active {
  background-color: #9a9a9a;
}
.carousel2 .carousel-itemm {
  background-color: #f1f1f1;
}

/* End fashion trending  */

/* New season  */

.new-season {
  background-color: #fbfbfb;
  width: 100%;
  height: 110vh;
  padding-bottom: 10rem;
}

.new-season .grid.wide {
  display: flex;
  flex-direction: column;
}

.box.paul {
  position: absolute;
  left: 0;
  top: 0;
  width: 58rem;
  height: 43.6rem;
  background-color: #bacbf9;
  z-index: 1;
}

.box.shoes-coverse {
  position: absolute;
  left: 54rem;
  top: 4rem;
  width: 53.2rem;
  background-color: #ffb7b7;
  z-index: 2;
}

.sub-info {
  width: 100%;
  background-color: var(--white-color);
  padding: 2rem 6rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}

.sub-info .name span,
.sub-info .price {
  font-weight: bold;
}

/* End new season  */

/* Route one content  */

.route-one {
  background-color: #dce6ff;
  height: 56rem;
}

.route-one .grid.wide {
  position: relative;
  display: flex;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  z-index: 3;
  margin-top: 12rem;
}

.text-content .text-small {
  position: relative;
  margin-bottom: 1.6rem;
}

.text-content .text-small::after {
  position: absolute;
  content: "";
  background-color: var(--black-color);
  width: 4rem;
  height: 0.1rem;
  bottom: 0.4rem;
  left: 8.4rem;
}

.text-content .text-large {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 6rem;
}

.text-content .text-p {
  margin: 2.4rem 0rem 8.2rem;
}

.img-content {
  display: flex;
  flex: 2;
  height: 58rem;
  width: 100rem;
  position: absolute;
  top: 0;
  left: 30%;
}

.box-2 {
  position: absolute;
}

.box-2.img-2 {
  position: absolute;
  left: 14%;
}

.box-2.img-3 {
  position: absolute;
  left: 28%;
}

.box-2.img-4 {
  position: absolute;
  left: 42%;
}

.box-2.img-5 {
  position: absolute;
  left: 56%;
}

/* End route one content  */

/* New release  */
.new-release {
  background-color: #fbfbfb;
}
.new-release .grid.wide {
  display: flex;
  flex-direction: column;
}

.new-release .container .heading-text {
  margin-bottom: 2rem;
}

.item {
  background-color: #f1f1f1;
  position: relative;
  margin-top: 8rem;
}

.item img {
  width: 100%;
  height: auto;
}

.item-icon {
  position: absolute;
  font-size: 2rem;
  top: 2rem;
  right: 2rem;
}

.item-info {
  background-color: #fff;
}

.item-info .name {
  font-size: 1.4rem;
  padding: 1.8rem;
  padding-bottom: 0;
}

.price-stock {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.price-stock .price {
  font-weight: bold;
  font-size: 1.7rem;
}

.price-stock .stock {
  font-size: 1.2rem;
}
/* End new release  */

/* Season  */

.season {
  padding-top: 20rem;
  padding-bottom: 10rem;
  background-color: #fbfbfb;
}

.display-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.grid-item {
  position: relative;
}

.img-season-1 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) -5.86%,
    rgba(0, 0, 0, 0) 119.62%
  );
  background-color: #78b9ae;
}

.img-season-2 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) -5.86%,
    rgba(0, 0, 0, 0) 119.62%
  );
  background-color: #84b2c1;
}

.img-season-3 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) -5.86%,
    rgba(0, 0, 0, 0) 119.62%
  );
  background-color: #d5ad3f;
}

.grid:nth-child(3) {
  position: relative;
}

.grid-item .icon i {
  font-size: 12rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 40%;
}

.text-season {
  position: absolute;
  top: 8rem;
  left: 10rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.text-season .text-small {
  font-size: 1.4rem;
  color: #fff;
  position: relative;
}

.text-season .text-small::after {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 4rem;
  height: 0.1rem;
  bottom: 0.1rem;
}

.text-season .text-large {
  font-weight: 600;
  font-size: 5.2rem;
  color: white;
  line-height: 6.5rem;
}

.text-season .text-large:nth-child(3) {
  margin: 0 3.9rem 8.8rem 9.2rem;
}

.btn-main.light {
  color: var(--black-color);
  background-color: #fff;
  max-width: 12rem;
}

.grid-item:last-child .text-season {
  top: 4rem;
}

.text-large.dark {
  color: var(--black-color);
}

.text-p.dark {
  margin-left: 0;
}

.btn-main.dark {
  max-width: 12rem;
  margin-top: 5.6rem;
}
/* End season  */

/* Subscribe  */

/* Section banner  */

.subscribe {
  z-index: 1;
  position: relative;
}
.subscribe .grid.wide {
  display: flex;
  align-items: center;
  margin: 9rem 20rem;
  justify-content: space-evenly;
}

.text-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  z-index: 3;
}

.text-subscribe .text-small {
  font-size: 1.4rem;
  position: relative;
}
.text-subscribe .text-medium {
  line-height: 5rem;
}

.text-subscribe .text-small::after {
  position: absolute;
  content: "";
  background-color: var(--black-color);
  width: 4rem;
  height: 0.1rem;
  bottom: 0.2rem;
  right: 33%;
}

.form-subscribe {
  display: flex;
  align-items: center;
}

.form-subscribe input {
  padding: 1rem 1.6rem;
  width: 35.5rem;
  font-size: 1.2rem;
  color: var(--black-color);
  outline: none;
  border: none;
  border: 1px solid #9a9a9a;
}

/* End subscribe  */

footer {
  background-color: var(--black-color);
}

.footer .grid.wide {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  margin-top: 8rem;
  margin-bottom: 6rem;
}

.footer-info {
  position: relative;
  padding: 8rem 0;
}

.footer-info::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.05rem;
  background-color: #8a8a8a;
  bottom: 2rem;
  left: 0;
}

.row.b .column {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.row.b .col-6.column:nth-child(2) {
  margin-top: 3.6rem;
}

.footer-link .social i {
  font-size: 1.6rem;
  margin-top: 1.6rem;
  margin-right: 1rem;
}

.footer.text-small {
  font-size: 1.6rem;
  color: var(--white-color) !important;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  margin-bottom: 1.2rem;
}

.footer.text-small::after {
  position: absolute;
  content: "";
  background-color: var(--white-color);
  left: 0;
  bottom: -0.6rem;
  width: 8rem;
  height: 0.1rem;
}

.footer.link {
  color: var(--white-color) !important;
  font-size: 1.4rem;
  margin-top: 1.2rem;
  text-decoration: none;
}

.footer-copyright {
  padding: 2rem 0;
}

.footer-copyright span {
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
